body {
  text-align: center;
  margin: 8;
  padding: 0;
  background-color: #363942;
  color: #000000;
  }
#container {
  margin: 15px auto;
  background-color: #ffffff;
  border: 1px solid #4b1e18;
  padding: 10px;
  width: 600px;
}
h2 {
  color: #ffffff;
}
